@font-face {
    font-family: Bloomer;
    src: url("/css/Bloomer.otf") format("opentype");
}

@font-face {
    font-family: Recursive;
    src: url(Recursive.ttf);
}

@font-face {
    font-family: Lato;
    src: url(Lato-Bold.ttf);
}