.navbar {
    padding: 40px 10px;
    transition: 0.4s;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: white;
    z-index: 99;
}

.navbar > ul{
    text-align: center;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.navbar > ul > li {
    display: inline;
}

.navitem {
    font-family: "Recursive";
    font-size: 40px;
    padding-left: 10px;
    padding-right: 10px;
    color: grey;
}

.subnav {
    display: inline-block;
    position: relative;
}
.subnavbtn {
    padding-bottom: 4px;
}
.sublink{
    text-decoration: none;
    transition: all ease-in-out 0.5s;
}
.sublink:hover {
    color: black;
    cursor: pointer;
}
.subnav-content {
    display: none;
    position: fixed;
    right: 0;
    width: 100vw;
    background: whitesmoke;
    padding: 10px;
    
}
.subnav:hover .subnav-content{
    animation:opac 0.5s;
    
    display: table;
}

.subnav-content * * a {
    font-size: 30px;
}

@keyframes opac{from{opacity: 0;} to{opacity: 1;}}