ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #7ee7ff;
}

#navbarbar {
    position: sticky;
    top: 0;
    height: 68px;
}

li {
    float: left;
    vertical-align: middle;
}

.navbar a {
    display: inline-block;
    padding: 10px;
    font-size: 40px;
    font-family: Lato;
    transition-duration: 0.4s;

}

.navbar a:hover {
    cursor: pointer;
    background-color:  rgb(211, 145, 255);
}

#active {
    background-color:  rgb(211, 145, 255);
}

#navsocials {
    float: right;
    vertical-align: middle;
}

#navsocials a img {
    width: 48px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 5px;
    margin-right: 5px;
}

@media only screen and (max-width: 850px){
    #navsocials {
        display: none;
    }
}