<div id="socials" class="center-children" v-scope>
	<div v-for="link in list" v-scope="Social(link)" class="social-link"></div>
</div>

<template id="social-link-template">
	<a v-bind:href="url" target="_blank">
		<img v-bind:src="img" class="social fadeOnHover" draggable='false'></a>
</template>

<script type="module" lang="ts">

	function Social(p)
	{
		return {
			$template: '#social-link-template',
			url: p.url,
			img: p.img
		}
	}

	const list = [
		{
			url: 'https://twitch.tv/soupsu',
			img: '../img/home/socials/twitch.svg'
		},
		{
			url: 'https://twitter.com/soupsu_',
			img: '../img/home/socials/twitter.svg'
		},
		{
			url: 'https://youtube.com/soupsepicgames',
			img: '../img/home/socials/youtube.svg'
		},
		{
			url: 'https://discord.gg/BaJ4r9e',
			img: '../img/home/socials/discord.svg'
		},
		{
			url: 'https://github.com/Wllew4',
			img: '../img/home/socials/github.svg'
		}
	]

	PetiteVue.createApp({
		list,
		Social
	}).mount()
</script>