body,html {
    margin: 0;
    padding: 0;
    background-attachment: fixed;
}

#inner {
    background-color: whitesmoke;
}

.eventSection {
    font-family: Lato;
    font-size: 5vw;
    margin-left: 1.06vw;
}

#header img {
    width: 100%;
}

.event {
    background-color: rgba(165, 59, 236, 0.2);
    border: #00d1ff solid;
    border-width: 0.27vw;
    font-family: Bloomer;
    margin: 1.06vw;
}

.text {
    margin: 0;
    display: inline-block;
    margin-left: 2vw;
    margin-bottom: 2vw;
}

.title {
    font-size: 8vw;
    text-decoration: underline;
    color: rgb(0, 58, 58);
    transition-duration: 0.4s;
}

.title:hover {
    color: rgb(5, 85, 85);
}

.title-nolink {
    font-size: 8vw;
    color: black;
}

.title:hover {
    cursor: pointer;
}

.subtitle {
    font-size: 2vw;
    font-family: Arial, Helvetica, sans-serif;
}

.donobutt {
    margin: 0;
    float: right;
}

.donobutton {
    border-radius: 20vw;
    font-size: 8vw;
    font-family: Bloomer;
    border-style: solid;
    vertical-align: top;
    margin: 15px;
    width: 32vw;
    padding: 0;
    border: solid black 0.16vw;
    background-color: greenyellow;
    float: right;
    transition-duration: 0.4s;
}

.donobutton:hover {
    background-color: rgb(105, 160, 23);
}

.donototal {
    border-radius: 20vw;
    font-size: 8vw;
    font-family: Bloomer;
    border-style: solid;
    vertical-align: top;
    margin: 15px;
    width: 32vw;
    padding: 0;
    border: solid black 0.16vw;
    background-color: aquamarine;
    float: right;
}

a {
    color: black;
}