.clickable:hover {
    cursor: pointer;
}

.fadeOnHover {
    transition-duration: 0.4s;
}

.fadeOnHover:hover {
    filter: brightness(0.75);
}

.socials {
    vertical-align: top;
    margin: 0.5vw;
    width: 6vw;
    padding: 0;
}