.homebtn {
    font-size: 5vw;
    font-family: ABeeZee;
    margin: 0.8vw;
    width: 42vw;
    border-style: solid;
    background-color: rgba(165, 59, 236, 0.2);
    border-color: #00d1ff;
    color: #00bbe6;
    border-width: 0.2vw;
    outline: none;
}

@font-face {
    font-family: ABeeZee;
    src: url(ABeeZee.ttf);
}

.socials {
    padding-left: 1vw;
    padding-right: 1vw;
    width: 8vw;
}

.inlineimg {
    height: 1em;
    width: 1em;
    vertical-align: -0.16em;
}

.footer {
    padding-top: 1vh;
    padding-bottom: 1vh;
    width: 100vw;
}

.text {
    font-size: 1.6vw;
    font-family: ABeeZee;
    color: #00bbe6;
    margin: 0;
}

@media only screen and (max-width: 130vh){
    .homebtn{
        font-size: 5vw;
        font-family: ABeeZee;
        margin: 0.8vw;
        width: 75vw;
        border-style: solid;
        background-color: rgba(165, 59, 236, 0.2);
        border-color: #00d1ff;
        border-width: 0.2vw;
        outline: none;
    }
    .text {
        font-size: 4vw;
        font-family: ABeeZee;
        color: #00bbe6;
    }
}

.homebtn:hover {
    background-color: rgba(165, 59, 236, 0.5);
}

.animate_out {
    animation: animateOut 2.5s ease;
}

#content {
    overflow-y: hidden;
    position: fixed;
    margin: auto auto;
}
    
#inner {
    overflow-y: auto;
    height: 100vh;
}

@keyframes animateOut {
    0% {
        width: 100vw;
        height: 100vh;
        top: 0%;
        background-color: transparent;
    }
    10% {
        width: 100vw;
        height: 0.2vh;
        top: 50%;
        left: 0;
        background-color:  rgba(165, 59, 236, 1);
    }
        
    35% {
        width: 20vw;
        height: 0.2vh;
        /* top: 50%; */
        left: 40vw;
        opacity: 1;
    }
        
    50% {
        width: 20vw;
        height: 0.2vh;
        /* top: 50%; */
        left: 40vw;
        opacity: 0;
    }
        
    85% {
        width: 100vw;
        height: 0.2vh;
        top: 50%;
        left: 0;
        opacity: 1;
        background-color:  rgba(165, 59, 236, 1);
    }
        
    100% {
        width: 100vw;
        height: 100vh;
        top: 0%;
        left: 0%;
        background-color: transparent;
    }
}