@use 'mobile';
@use 'text';
@use 'util';
@use 'spacebg';

.l {
	position: absolute;
	height: 100%;
	width: 80%;
	float: left;
}
p {
	color: white;
	font-family: 'Noto Sans JP';
	font-size: 10vh;
	text-align: center;
	text-shadow: 4px 4px 5px #000000;
	-webkit-text-stroke: 1px;
	-webkit-text-stroke-color: black;
}
.r {
	display: flex;
	position: relative;
	height: 100%;
	width: 60%;
	float: right;
}
img {
	position: absolute;
	max-height: 100vh;
	max-width: 60vw;
	bottom: 0;
	right: 0;
}
body {
	padding: 0;
}