@media only screen 
	and (min-device-width: 320px) 
	and (max-device-width: 480px)
	and (-webkit-min-device-pixel-ratio: 2)
	and (orientation: portrait)
  	{
    #text {
        min-width: 100%;
    }

    .title {
        font-size: 8rem;
    }

    .small {
        font-size: 2rem;
    }

    .text {
        font-size: 3rem;
    }

    .inlineimg {
        height: 3rem;
        vertical-align: -0.5rem;
        margin-left: 0.2rem;
        margin-right: 0.2rem;
    }
}