.title
{
    font-size: 4rem;
}

.small
{
    font-size: 1rem;
}

.text
{
    font-size: 1.5rem;
}

.inlineimg
{
    height: 1.5rem;
    width: auto;
    vertical-align: -0.2rem;
    margin-left: 0.1rem;
    margin-right: 0.1rem;
}