@use 'mobile';
@use 'text';
@use 'util';

body {
    padding: 5%;
    background-image: url("/img/home/space.jpg");
    background-size: cover;
}

#container {
    min-width: 20rem;
    min-height: 100%;
    flex-direction: column;
}

#main-block {
    max-width: 100%;
    padding: 3%;
    border-radius: 30px;
    background-color: rgba(36, 0, 51, 0.8);
}

#icon-info {
    flex-wrap: wrap;
}

#pfp {
    height: 15rem;
    border-radius: 50%;
}

#text {
    width: 30rem;
    min-width: 20rem;
    margin-top: -0.6rem;
    flex: 1 0;
    color: white;
    text-align: center;
    font-family: 'Noto Sans JP';
}

#socials {
    justify-content: space-evenly;
    flex-basis: 100%;
    padding-top: 4%;
    flex-wrap: nowrap;
}

.social-link {
    border: 1px solid white;
    border-radius: 50%;
}

.social {
    display: block;
    height: 6rem;
    width: 6rem;
}