@import './mobile';

.title
{
    font-size: 4rem;
	@include mobile
	{
		font-size: 8rem;
	}
}

.small
{
    font-size: 1rem;
	@include mobile
	{
		font-size: 2rem;
	}
}

.text
{
    font-size: 1.5rem;
	@include mobile
	{
		font-size: 3rem;
	}
}

.inlineimg
{
    height: 1.5rem;
    width: auto;
    vertical-align: -0.2rem;
    margin-left: 0.1rem;
    margin-right: 0.1rem;
	@include mobile
	{
		height: 3rem;
		vertical-align: -0.5rem;
		margin-left: 0.2rem;
		margin-right: 0.2rem;
	}
}