body
{
    margin: 0;
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
}

%center-children
{
    display: flex;
    align-items: center;
    justify-content: center;
}

%clickable:hover
{
    cursor: pointer;
}

%fadeOnHover
{
    transition-duration: 0.4s;

	&:hover
	{
		filter: brightness(0.75);
	}
}

%spacebg
{
    background-image: url('./assets/img/space.webp');
    background-size: cover;
}